h1{
  padding-top: 40px;
  width: 100%;
}
.sectionMain{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}


@media (max-width: 1200px){
  .sectionMain{
    justify-content:center;
  }  
}
